/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
}

p {
    margin-top: 0.5em;
}

h1 {
    font-size: 2em;
    margin-left: -20px;
    color: #B00032;
}

h2, h3, h4, h5, h6 {
    color: #83878C;
    margin-top: 1em;
}

h2 {
    margin-left: -20px;
}

a {
    color: #B00032;
}

a:hover {
    color: #cc2e5a;
}

code {
    font-size: 1.2em;
    font-family: monospace;
    font-weight: 500;
    color: #83878C;
}

blockquote {
    font-style: italic;
    border-left: 3px solid #83878C;
    margin: 1em 3em 1em 1.7em;
    padding-left: 0.3em;
}

blockquote p {
    color: #83878C;
  }

del {
    text-decoration: line-through;
}

hr {
    color: #B00032;
    background-color: #B00032;
    height: 3px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.date {
    margin-left: -20px;
    margin-bottom: 0.5em;
}

/* HEADER */
/* Logo */
.logo {
    position: fixed;
    text-align: end;
    font-size: 1.4em;
    padding-top: 1em;
    padding-left: 1em;
    background-color: white;
}

/* Main menu */
header ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding-top: 0.5em;
    background-color: white;
}

header ul a {
    float: left;
    color: black;
    display: block;
    text-align: center;
    font-size: 1.4em;
    width: 4em;
    border-bottom: 3px solid transparent;
    padding: 0.5em 0.5em 0.5em 0em;
}

header ul a:hover {
    border-bottom: 3px solid #B00032;
}

header ul a.active {
    border-bottom: 3px solid #B00032;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: relative;
    z-index: 1;
}

.dropdown:hover .dropdown-menu{
    display: inline-block;
}

/* NAVIGATION */
.nav {
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 2.5em;
    text-align: end;
    list-style: none;
}
.categories {
    font-size: 1.2em;
}
.series {
    font-size: 1.8em;
}
.tags {
    font-size: 1.2em;
}

/* PAGINATION */
.pagination {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
}

/* FOOTER */
.footer {
    display: block;
    margin-left: 1em;
    margin-bottom: 0.5em;
    color: #83878C;
}

.footer p, .footer a {
    color: #83878C;
}

/* CONTENT */
.content {
    line-height: 1.5em;
    margin-top: 3em;
    text-align: justify;
}

.content ul {
    margin-left: 2em;
    margin-top: 0.5em;
}

.tag-catlist {
    font-size: 0.9em;
}

.tag-cat-list hr {
    margin-top: 3em;
    margin-bottom: 0em;
    width: 30%;
}

/* Photoblog*/
.content img {
    max-height: 85vh;
    max-width: 80vw;
}

/* Blogpost */
.blogpost {
    max-width: 50em;
}

.blogpost img {
    max-width: 46em;
    max-height: 25em;
    margin-left: 2em;
    margin-top: 0.5em;
}

.blogpost figcaption{
    margin-top: -0.5em;
    max-width: 46em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.blogpost figcaption p{
    line-height: normal;
    font-size: 0.7em;
    color: #83878C;
}

.blogpost figcaption em {
    line-height: normal;
    font-size: 0.9em;
    color: #83878C;
}

.content .read-more {
    margin-top: 0.5em;
}

/* LAYOUT */
/* Define areas */
.header {
    grid-area: hd;
}
.footer {
    grid-area: ft;
}
.nav, .sidebar {
    grid-area: nv;
}
.content {
    grid-area: mn;
}
.logo {
    grid-area: lg;
}

/* Desktop */
@media only screen and (min-width: 1000px){
    .wrapper {
      min-height: 100vh;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        " . lg hd hd hd hd hd hd hd hd"
        "nv nv mn mn mn mn mn mn mn  ."
        "ft ft ft ft ft ft ft ft ft ft"
      }
}
/* Tablet */

/* Phone */