/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
}

p {
    margin-top: 0.5em;
}

h1 {
    font-size: 2em;
    margin-left: -20px;
    color: #B00032;
}

h2, h3, h4, h5, h6 {
    color: #83878C;
    margin-top: 1em;
}

h2 {
    margin-left: -20px;
}

a {
    color: #B00032;
}

a:hover {
    color: #cc2e5a;
}

code {
    font-size: 1.2em;
    font-family: monospace;
    font-weight: 500;
    color: #83878C;
}

blockquote {
    font-style: italic;
    border-left: 3px solid #83878C;
    margin: 1em 3em 1em 1.7em;
    padding-left: 0.3em;
}

blockquote p {
    color: #83878C;
  }

del {
    text-decoration: line-through;
}

hr {
    color: #B00032;
    background-color: #B00032;
    height: 3px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.date {
    margin-left: -20px;
    margin-bottom: 0.5em;
}

/* HEADER */
/* Logo */
.logo {
    position: fixed;
    width: 100%;
    font-size: 1.4em;
    padding: 1em 0em 0.5em 1em;
    background-color: whitesmoke;
    border-bottom: 3px solid transparent;
}

/* Main menu */
header ul {
    position: fixed;
    top: 0;
    width: 30em;
    list-style: none;
    overflow: hidden;
    padding-top: 0.5em;
    background-color: whitesmoke;
}

header ul a {
    float: left;
    color: black;
    display: block;
    text-align: center;
    font-size: 1.4em;
    width: 4em;
    border-bottom: 3px solid transparent;
    padding: 0.5em 0.5em 0.5em 0em;
}

header ul a:hover {
    border-bottom: 3px solid #B00032;
}

header ul a.active {
    border-bottom: 3px solid #B00032;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: relative;
    z-index: 1;
    transition: 2s;
}

.dropdown:hover .dropdown-menu{
    display: inline-block;
}

/* NAVIGATION */
.nav {
    padding-top: 5em;
    padding-left: 1em;
    padding-right: 2.5em;
    text-align: end;
    list-style: none;
}
.categories {
    font-size: 1.2em;
}
.series {
    font-size: 1.8em;
}
.tags {
    font-size: 1.2em;
}

/* PAGINATION */
.pagination {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
}

/* FOOTER */
.footer {
    display: block;
    margin-left: 1em;
    margin-bottom: 0.5em;
    color: #83878C;
}

.footer p, .footer a {
    color: #83878C;
}

/* CONTENT */
.content {
    line-height: 1.5em;
    margin-top: 5em;
    text-align: justify;
}

.content ul {
    margin-left: 2em;
    margin-top: 0.5em;
}

.tag-catlist {
    font-size: 0.9em;
}

.tag-cat-list hr {
    margin-top: 3em;
    margin-bottom: 0em;
    width: 30%;
}

/* Photoblog*/
.content img {
    max-height: 85vh;
    max-width: 80vw;
}

/* Blogpost */
.blogpost {
    max-width: 50em;
}

.blogpost img {
    max-width: 46em;
    max-height: 25em;
    margin: 1em 2em 0em 2em;
}

.blogpost .inline-img {
    float: left;
    margin-left: -1em;
}

.blogpost figcaption{
    margin-top: -0.5em;
    max-width: 46em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.blogpost sup {
    color: #83878C;
    size: smaller;
}

.blogpost figcaption p{
    line-height: normal;
    font-size: 0.7em;
    color: #83878C;
}

.blogpost figcaption em {
    line-height: normal;
    font-size: 0.9em;
    color: #83878C;
}

.content .read-more {
    margin-top: 0.5em;
}

.footnotes p {
    margin-left: 2em;
    font-size: smaller;
    color: #83878C;
}

.footnotes hr {
    display: none;
}

/* LAYOUT */
/* Define areas */
.header {
    grid-area: hd;
}
.footer {
    grid-area: ft;
}
.nav, .sidebar {
    grid-area: nv;
}
.content {
    grid-area: mn;
}
.logo {
    grid-area: lg;
}

/* Desktop */
@media only screen and (min-width: 1000px){
    .wrapper {
      min-height: 100vh;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "lg lg hd hd hd hd hd hd hd hd"
        "nv nv mn mn mn mn mn mn mn  ."
        "ft ft ft ft ft ft ft ft ft ft"
      }
}
/* Tablet */
@media only screen and (max-width: 999px){
    .wrapper {
    display: grid;
    grid-auto-rows: minmax(100px; auto);
    grid-template-areas:
      "hd"
      "mn"
      "nv"
      "ft"
    }
    
    .nav {
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 2.5em;
        text-align: left;
        list-style: none;
    }

    .blogpost {
        max-width: 95vw;
    }

    .blogpost img {
        max-width: 80vw;
        max-height: 18em;
        margin: 1em 2em 0em 2em;
    }

    .content {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5em;
    }
  
    .content h1 {
        margin-left: -2px;
     }
  
    .content h2 {
        margin-left: -2px;
    }
    
    .content .date {
        margin-left: -2px;
    }
  
    header {
        width: 100%;
    }
  
    .content blockquote{
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        padding-left: 0.2em;
        margin-right: 0em;
    }
    
    .nav {
        text-align: start;
    }

    .dropdown-menu{
        display: inline-flex;
        margin-left: -11.5em;
    }

    .dropdown:hover .dropdown-menu{
        display: inline-flex;
    }

}
/* Phone */
@media only screen and (max-width: 480px){
    * {
      margin-left: 2px;
      margin-right: 2px;
    }
    .header {
        padding-top: 5px;
    }
    .nav {
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 2.5em;
        text-align: left;
        list-style: none;
    }
    
    .blogpost {
        max-width: 95vw;
    }

    .blogpost img {
        max-width: 80vw;
        max-height: 25em;
        margin: 1em 2em 0em 2em;
    }

    .content h1 {
      margin-left: 0px;
      padding-top: 1em;
    }
 
    .content h2 {
      margin-left: 0px;
    }
    
    .date {
      margin-left: 0px;
      margin-bottom: 0em;
    }

    .dropdown-menu{
        display: inline-flex;
        margin-left: -7.9em;
    }

    .dropdown:hover .dropdown-menu{
        display: inline-flex;
    }

    header ul a {
        font-size: 1em;
        width: 3.5em;
    }

  }