/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: #83878C;
}

a {
    color: #B00032;
}

a:hover {
    color: #cc2e5a;
}

code {
    font-size: 1.3em;
    font-family: monospace;
    font-weight: 500;
    color: #83878C;
}

hr {
    color: #B00032;
    background-color: #B00032;
    height: 3px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

/* HEADER */

/* PHOTO BLOG NAV */

/* BLOG NAV */

/* PAGINATION */
.pagination {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
}

/* FOOTER */
.footer {
    display: block;
    margin-left: 1em;
    margin-bottom: 0.5em;
    color: #83878C;
}

/* CONTENT */

/* LAYOUT */
