{{ define "main" }}

{{- partial "blog-nav.html" . -}}

<div class="content">
<div class="blogpost">
    <h1>{{.Title}}</h1>
    <p class="date">{{ dateFormat "January 2006" .Date }}</p>
    <p>{{.Content}}</p>
    <div class="tag-cat-list">
        <hr>
        <p>Categories: </p>
        {{ range $index, $category := .Params.categories }}
        {{ if gt $index 0 }},
        {{ end }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}</p>
    </div>
</div>
</div>
{{ end }}