{{ define "main" }}

{{- partial "photo-nav.html" . -}}

<div class="content">
<div class="photo-blog">
    <ul>
        <!-- Ranges through content/posts/*.md -->
        {{ $paginator := .Paginate (where .Data.Pages "Section" "photo") }}

        {{ range $paginator.Pages }}
            <article>
                <div>
                <a href="{{.Permalink}}">{{.Date.Format "January 2006"}}</a>
                {{ .Content }}
                </div>
            </article>
            <br>
            <hr>
        {{ end }}
    </ul>
    {{- partial "pagination.html" . -}}
</div>
</div>

{{ end }}