{{ define "main" }}

{{- partial "photo-nav.html" . -}}

<div class="content">
<div class="photo-blog">

    <h1>{{.Title}}</h1>
    <p>{{ dateFormat "Januari 2006" .Date }}</p>
    <p>{{.Content}}</p>
        <!--insert tags-->
        <div class="tag-cat-list">
            <hr>
            <p>Tags: </p>
            {{ range $index, $tag := .Params.tags }}
                {{ if gt $index 0 }},
                {{ end }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
</div>
</div>
{{ end }}